@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background: rgb(216, 229, 240);
  color: rgb(53, 52, 52);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}


.wrapper{
  width: 1280px;
  margin: 50px auto;

}

header .logo{
  font-weight: 600;
  font-size: 20px;

}
header .presentation {
  margin: 50px 0;
  background:url('./img/bg.jpg') no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: antiquewhite;
  position: relative;
  

}


header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

header ul.nav li:hover{
  opacity: 0.5;
}


header .presentation::after{
    content:'Якісні та сучасні компютерні деталі для вашого ПК' ;
    position: absolute;
    top: 100px;
    left: 50px;
    width: 390px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(211, 249, 249);
}

header .presentation::before{
  content:'По низьким цінам' ;
  position: absolute;
  top: 300px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  color: rgb(201, 233, 233);
}

header .shop-cart-button{
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active{
  color: #ff0000;
  transform: scale(1.5);
}

header .shop-cart{
  position: absolute;
  top: 80px;
  right: 35;
  width: 450px;
  min-height: 45px;
  background: #eaebeb;
  -webkit-box-shadow: 0px 0px 23px 7px rgba(0,0,0,0.78);
  -moz-box-shadow: 0px 0px 23px 7px rgba(0,0,0,0.78);
  box-shadow: 0px 0px 23px 7px rgba(0,0,0,0.78);
  z-index: 1000;

}

header .shop-cart{
  width: 100%;
}

header .shop-cart .item img{
  width: 70px;
  float: left;
  margin-right: 20px;
}

header .shop-cart .item h2{
  font-size: 20px;
  margin-bottom: 10px;
}

header .shop-cart .item p{
  color: #464444;
  font-weight: 600
}

main{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item{
  width: 30%;
  margin-bottom: 50px;
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

main .item img{
  width: 100%;
  border-radius: 20px 20px 0 0;
  transition: transform 500ms ease;
}

main .item img:hover{
    transform: scale(1.1)
}

main h2,
main p,
main b{
    margin: 10px 20px;
    color: #333;

}
main b{
  color: #5fa35f;
}

main .add-to-cart{
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #db0c0c;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600px;
  transition: transform 500ms ease;

}

main .add-to-cart:hover{
  transform: scale(1.5) translateY(-5px);

}

footer{
  text-align: center;
  margin-top: 50px;
}

